.voting-result-header {
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    padding: 2px;
}

.voting-result-header.green {
    background-color: #61BD4F;
}

.voting-result-header.red {
    background-color: #CF513D;
}

.voting-result-icon {
    vertical-align: middle;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 2px 0;
    height: 18px;
    width: 18px;
}

.voters-count {
    padding-right: 2px;
}

.hidden {
    display: none;
}

.voter {
    min-height: 34px;
    max-height: 34px;
}

.voter:first-of-type {
    margin-top: 4px;
}

.voter-icon {
    width: 30px;
    border-radius: 3px;
}

.voter-without-icon {
    width: 30px;
    height: 30px;
    background-color: #D6DADC;
    border-radius: 3px;
    font-size: 9pt;
    font-weight: 700;
    line-height: 30px;
    overflow: hidden;
    text-align: center;

}

#votingResults {
    border: none;
}

.toggle-voters {
    text-decoration: underline;
    border-radius: 3px;
    color: #8c8c8c;
    margin: 2px 0;
    padding: 6px 8px;
    cursor: pointer;
}

.toggle-voters:hover {
    background: #D6DADC;
    color: #4d4d4d;
}

.column-default {
    width: auto;
}

body {
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    background-color: #EDEFF0;
}
